
<div class="aside">
    <app-menu></app-menu>
</div>
 <div style=" float: left; margin-left: 28%;" >
        <div class="limiter"  style="width: 100%; ">
            <div class="container-login100">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50 " style="margin-top: 15%;">
                    <form class="login100-form validate-form" style="width:100%;">
                        <span class="login100-form-title p-b-33" *ngIf="usuarioPHP.tipo == 1" style="color: #AC4F1F;">
                            Bienvenido {{usuarioPHP.nombre}}
                        </span>
                        <span class="login100-form-title p-b-33" *ngIf="usuarioPHP.tipo == 2" style="color: #AC4F1F;">
                            Bienvenido veterinario :  {{usuarioPHP.nombre}}
                        </span>
                        <br>
                        <div class="or-container">
                            <div class="line-separator"></div>
                            <div class="or-label">Citas proximas</div>
                            <div class="line-separator"></div>
                        </div>
                        <div [hidden]="mascotaRegistrada == true" *ngIf="usuarioPHP.tipo == 1">
                        <div class="text-center p-t-45 p-b-4 mt-5">
                            <span class="txt1" style="color: black;">
                                No tienes mascotas registradas! Haz el registro de ellas.<br>
                            </span>
                        </div>
                        <div class="container-login100-form-btn m-t-20">
                            <span  class="login100-form-btn" style="width: 50%; margin-left: 28%; margin-top: 5%;" (click)="enlaceMascotas()">
                                Registrar mascotas!
                            </span>
                        </div>
                        </div>
                        <div *ngIf="usuarioPHP.tipo == 2" >
                            <div class="table-responsive " style="width: 100%;">
                                <table class="table">
                                  <caption>Citas proximas</caption>
                                  <tr>
                                      <th scope="col">Mascota</th>
                                      <th scope="col">Fecha</th>
                                      <th scope="col">Hora</th>
                                      <th scope="col">Accion</th>
                                  </tr>
                                  <tbody>
                                    <tr *ngFor="let citas of consultas">
                                        <td>{{citas.nombre}}</td>
                                        <td>{{citas.fecha}}</td>
                                        <td>{{citas.hora}}</td>
                                        <td><p>
                                            <a class="btn btn-primary" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white">
                                                Ver mas
                                            </a>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                        </div>
                        <div *ngIf="usuarioPHP.tipo == 1"  [hidden]="mascotaRegistrada == false" >
                            <div class="table-responsive " style="width: 100%;">
                                <table class="table">
                                  <caption>Citas proximas</caption>
                                  <tr>
                                      <th scope="col">Mascota</th>
                                      <th scope="col">Veterinario</th>
                                      
                                      <th scope="col">Fecha</th>
                                      <th scope="col">Hora</th>
                                      <th scope="col">Acciones</th>
                                      
                                  </tr>
                                  <tbody>
                                    <tr *ngFor="let citas of consultas2">
                                        <td>{{citas.nombre}}</td>
                                        <td>{{citas.vet}}</td>
                                        
                                        <td>{{citas.fecha}}</td>
                                        <td>{{citas.hora}}</td>
                                        <td><p>
                                            <a class="btn btn-primary" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white" (click)="verMasCitas(citas.id_citas)" >
                                                Ver mas
                                            </a>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                        </div>
                    </form>	
                </div>
            </div>
        </div>
</div>



