<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-33">
						Verificación del Correo
					</span><br>

                    <div class="text-center p-t-45 p-b-4">
                        <span class="txt1">
                            Se ha enviado un correo de verificación al correo :
                        </span>

                        <a href="#" class="txt2 hov1">
                            <strong></strong>
                        </a>
                    </div>

                    <div class="text-center p-t-45 p-b-4 mt-5">
                        <span class="txt1">
                            Por favor revisa tu cuenta de correo y verificala!
                        </span>
                    </div>

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
							Reenviar la verificación
						</button>
					</div><br>

					<div class="text-center">
						<a href="#" class="txt2 hov1" routerLink="/inicio-sesion"> 
							Regresar al inicio de sesión
						</a>
					</div>
				</form>	
			</div>
		</div>
	</div>
</body>
