<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-33">
						Inicio de Sesión
					</span><br>

					<div class="row">
						<div class="col-md-12"> <a class="btn btn-lg btn-google btn-block  btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Inicia sesión con Google</a> </div>
					</div> <br>
					<div class="or-container">
						<div class="line-separator"></div>
						<div class="or-label">Ó con tus credenciales respectivas</div>
						<div class="line-separator"></div>
					</div>
					

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="correo" #correo placeholder="Correo electronico" >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="contrasena" #contrasena  placeholder="Contraseña"> 
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div><br>

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" (click)="onVerificando(correo.value, contrasena.value)" type="button">
							Entrar
						</button>
					</div><br>

					<div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							Se te olvido la contraseña?
						</span>

						<a href="#" class="txt2 hov1">
							Recuperala Aquí
						</a>
					</div>

					<div class="text-center">
						<span class="txt1">
							No tienes una cuenta?
						</span>

						<a href="#" class="txt2 hov1" routerLink="/registrate">
							Crea una!
						</a>
					</div>

					<div class="text-center">
						<a href="#" class="txt2 hov1" routerLink="/inicio"> 
							Regresar a pagina principal
						</a>
					</div>
				</form>	
			</div>
		</div>
	</div>
</body>