<div class="aside" style=" float: left;">
    <app-menu></app-menu>
</div>
 <div style=" float: center; margin-left: 15%;">
        <div class="limiter">
            <div class="container-login100" style="width: 1160px;">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50 " style="margin-top: 3%; width: 1160px;">
                    <form class="login100-form validate-form" style="width: 1160px;">
                        <span class="login100-form-title p-b-33" style="color: #AC4F1F; margin-top: 2%;">
                      MIS MASCOTAS
                        </span>
                     
                        <div class="text-center p-t-45 p-b-4 mt-5">
                            <span class="txt1" style="color: black;">
                                
                                <div class="table-responsive " *ngIf="hayRegistros(); else sinarticulos">
                                    <table class="table">
                                      <caption></caption>
                                      <tr>
                                        <th scope="col"><strong>Registro Mascota</strong> </th>
                                          <th scope="col"><strong>Nombre</strong> </th>
                                          <th scope="col"><strong>Edad</strong></th>
                                          <th scope="col"><strong>Tamaño</strong></th>
                                          <th scope="col"><strong>Raza</strong></th>
                                          <th scope="col"><strong>Sexo</strong></th>
                                          <th scope="col"><strong>Accion</strong></th>
                                      </tr>
                                      <tbody>
                                        <tr *ngFor="let masco of consultas | paginate: { id: 'paginacion',
                                            itemsPerPage: 10,
                                            currentPage: page,
                                            totalItems: totalConsultas
                                        }">
                                        <td>{{masco.registro_mascota}}</td>
                                            <td>{{masco.nombre}}</td>
                                            <td>{{masco.edad}}</td>
                                            <td>{{masco.tipo}}</td>
                                            <td>{{masco.raza}}</td>
                                            <td>{{masco.sexo}}</td>
                                            <td><p>
                                                <a class="btn btn-warning" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white" (click)="modificarMascotas(masco.id_mascota)">
                                                    Editar información
                                                </a>
                                            </p></td>
                                        </tr>
                                        
                                      </tbody>
                                    </table>
                                    <div>
                                        <pagination-controls id="paginacion" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                  </div>
                            </span>
                        </div>
                        <ng-template #sinarticulos>
                            <p>No hay articulos.</p>
                        </ng-template>
                    </form>	
                </div>
            </div>
        </div>
</div>


