<nav class="navbar navbar-expand-lg navbar-light bg-light active"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <a class="navbar-brand" href="#" style="color: #00795A;">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color: #00795A;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #00795A;" routerLink="/inicio-sesion">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #00795A;">Registrate!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #00795A;" routerLink="/registro">Registro!</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<h1 text align="center" style="color:#CE7619"><strong>Formulario de Registro</strong></h1>
  
<h3 text align="center" style="color: #00795A;">Nueva Mascota</h3>
<div class="contenedor">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
 <!-- <mat-step [stepControl]="Propietario">
    <form [formGroup]="Propietario">
      <ng-template matStepLabel>Propietario</ng-template>
      <mat-form-field>
        <mat-label>DUI</mat-label>
        <input type="number" matInput placeholder="XXXXXXXXX" formControlName="dui"  required>
       
      </mat-form-field>
      
      <br/>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" formControlName="apellido" required>
       
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input  type="number" matInput placeholder="XXXXXXX" formControlName="telefono" required>
       
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" formControlName="direccion" required>
       
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Correo Eléctronico</mat-label>
        <input type="email" matInput placeholder="email" formControlName="correo" >
       
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>-->
  <mat-step [stepControl]="Mascota">
    <form [formGroup]="Mascota">
      <ng-template matStepLabel>Mascota</ng-template>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nomber" formControlName="mnombre" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" formControlName="mapellido" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Edad</mat-label>
        <input type="number" matInput placeholder="Edad" formControlName="edad" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Tipo
        </mat-label>
        <input matInput placeholder="Tipo" formControlName="tipo" required>
      </mat-form-field>
      <br/>
      
      <mat-form-field>
        <mat-label>Raza</mat-label>
        <input matInput placeholder="Raza" formControlName="raza" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <input matInput placeholder="Sexo" formControlName="sexo" required>
      </mat-form-field>
      <br/>
      <div>
       <!-- <button mat-button matStepperPrevious>Atrás</button>-->
        <button mat-button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Listo</ng-template>
    <p>Datos completos del registro. Verifica la información</p>
  
    <mat-list>
	<!-- <mat-list-item> <strong>Nombre del dueño:</strong> {{ this.Propietario.value.nombre }}</mat-list-item>
	 <mat-list-item> <strong>Apellido del dueño:</strong> {{ this.Propietario.value.apellido }}</mat-list-item>-->
	 <mat-list-item> <strong>Nombre de la mascota:</strong> {{ this.Mascota.value.mnombre }}</mat-list-item>
   <mat-list-item> <strong>Apellido de la mascota:</strong> {{ this.Mascota.value.mapellido }}</mat-list-item>
   <mat-list-item> <strong>Tamaño de la mascota:</strong> {{ this.Mascota.value.tipo }}</mat-list-item>
   <mat-list-item> <strong>Raza de la mascota:</strong> {{ this.Mascota.value.raza }}</mat-list-item>
   <mat-list-item> <strong>Sexo de la mascota:</strong> {{ this.Mascota.value.sexo }}</mat-list-item>
	</mat-list>
  
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Limpiar</button>
      <button mat-button mat-raised-button (click)="submit()">Guardar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>