<nav class="navbar navbar-expand-lg navbar-light bg-light active"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <a class="navbar-brand" href="#" style="color: #00795A;">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color: #00795A;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #00795A;" routerLink="/inicio-sesion">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #00795A;">Registrate!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #00795A;" routerLink="/registro">Registro!</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<h1 text align="center" style="color:#CE7619"><strong>Formulario de Registro</strong></h1>
  
<h3 text align="center" style="color: #00795A;">Nueva Mascota</h3>
<div class="contenedor">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="Mascota">
    <form [formGroup]="Mascota" novalidate >
      <ng-template matStepLabel>Mascota</ng-template>
      
        <p style="color: #C36808;" *ngIf="Mascota.get('mnombre').hasError('required') && Mascota.get('mnombre').touched" >
          Ingrese el nombre de la mascota</p>
            
      <div>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="mnombre" [(ngModel)]="mascotaModel.nombre" required>
      </mat-form-field>
    </div>
    
      <br/>
      <p style="color: #C36808;" *ngIf="Mascota.get('nregistro').hasError('required') && Mascota.get('nregistro').touched" >
        Ingrese el número de registro de la mascota</p>
      <div>
      <mat-form-field>
        <mat-label>N° registro</mat-label>
        <input matInput placeholder="XXXXX" formControlName="nregistro" [(ngModel)]="mascotaModel.registro_mascota" required>
      </mat-form-field>
    </div>
      <br/>
      <p style="color: #C36808;" *ngIf="Mascota.get('edad').hasError('required') && Mascota.get('edad').touched" >
        Ingrese la edad de la mascota</p>
      <mat-form-field>
        <mat-label>Edad</mat-label>
        <input type="number" matInput placeholder="Edad" formControlName="edad" [(ngModel)]="mascotaModel.edad" required>
      </mat-form-field>
      <br/>
      <p style="color: #C36808;" *ngIf="Mascota.get('tipo').hasError('required') && Mascota.get('tipo').touched" >
        Ingrese el tamaño de la mascota</p>
      <mat-form-field>
        <mat-label>Tipo
        </mat-label>
        <input matInput placeholder="Tipo" formControlName="tipo" [(ngModel)]="mascotaModel.tipo" required>
      </mat-form-field>
      <br/>
      <p style="color: #C36808;" *ngIf="Mascota.get('raza').hasError('required') && Mascota.get('raza').touched" >
        Ingrese la raza de la mascota</p>
      <mat-form-field>
        <mat-label>Raza</mat-label>
        <input matInput placeholder="Raza" formControlName="raza" [(ngModel)]="mascotaModel.raza" required>
      </mat-form-field>
      <br/>
      <p style="color: #C36808;" *ngIf="Mascota.get('sexo').hasError('required') && Mascota.get('sexo').touched" >
        Ingrese el sexo de la mascota (Macho/Hembra)</p>
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <input matInput placeholder="Sexo" formControlName="sexo" [(ngModel)]="mascotaModel.sexo" required>
      </mat-form-field>
      <br/>
      <div>
       <!-- <button mat-button matStepperPrevious>Atrás</button>-->
        <button mat-button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Listo</ng-template>
    <p>Datos completos del registro. Verifica la información</p>
  
    <mat-list>
	<!-- <mat-list-item> <strong>Nombre del dueño:</strong> {{ this.Propietario.value.nombre }}</mat-list-item>
	 <mat-list-item> <strong>Apellido del dueño:</strong> {{ this.Propietario.value.apellido }}</mat-list-item>-->
	 <mat-list-item> <strong>Nombre de la mascota:</strong> {{ this.Mascota.value.mnombre }}</mat-list-item>
   <mat-list-item> <strong>Número de registro de la mascota:</strong> {{ this.Mascota.value.nregistro }}</mat-list-item>
   <mat-list-item> <strong>Tamaño de la mascota:</strong> {{ this.Mascota.value.tipo }}</mat-list-item>
   <mat-list-item> <strong>Raza de la mascota:</strong> {{ this.Mascota.value.raza }}</mat-list-item>
   <mat-list-item> <strong>Sexo de la mascota:</strong> {{ this.Mascota.value.sexo }}</mat-list-item>
	</mat-list>
  
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Limpiar</button>
      <button type="button"  mat-button mat-raised-button (click)="submit()" >Guardar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>