<div style=" float: left;">
    <app-menu></app-menu>
</div>
 <div style=" float: center; margin-left: 13%;">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50 " style="margin-top: 0%;">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-33" style="color: #AC4F1F;">
                            Citas proximas
                        </span>
                        <br>
                        <div class="or-container">
                            <div class="line-separator"></div>
                            <div class="or-label"></div>
                            <div class="line-separator"></div>
                        </div>
                        <div class=" p-t-45 p-b-4 mt-5">
                            <span class="txt1" style="color: black;">
                                
                                <div class="table-responsive " >
                                    <table class="table" style="width: 100%;">
                                      <caption>Citas proximas</caption>
                                      <tr>
                                          <th scope="col"> Mascota</th>
                                          <th scope="col"> Fecha</th>
                                          <th scope="col"> Hora</th>
                                          <th scope="col"> Accion</th>
                                      </tr>
                                      <tbody>
                                        <tr *ngFor="let citas of consultas | paginate: { id: 'paginacion',itemsPerPage:3, currentPage: page,totalItems: totalConsultas}">
                                            <td>{{citas.nombre}}</td>
                                            <td>{{citas.fecha}}</td>
                                            <td>{{citas.hora}}</td>
                                            <td><p>
                                                <a class="btn btn-primary" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white" (click)="verMasCitasV(citas.id_citas)">
                                                    Ver mas 
                                                </a></p><br>
                                                <p><a class="btn btn-warning" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white" (click)="modificarCitas(citas.id_citas)">Modificar</a>
                                                </p><br>
                                                <p><a class="btn btn-danger" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white" (click)="eliminarCita(citas.id_citas)">Eliminar</a>
                                                </p></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div>
                                        <pagination-controls id="paginacion" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                  </div>
                            </span>
                        </div>
                        
                    </form>	
                </div>
            </div>
        </div>
</div>


